global
    daemon
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    option httplog

frontend service_frontend
    bind *:5100
    # Route stats requests to stats backend
    acl is_stats path_beg /stats
    use_backend stats if is_stats
    default_backend service_nodes

# Stats page backend
backend stats
    stats enable
    stats uri /stats
    stats refresh 5s
    stats show-legends
    stats admin if TRUE

backend service_nodes
    balance roundrobin
    option httpchk GET /about
    server sn1 sn1:5101 check
    server sn2 sn2:5101 check
    server sn3 sn3:5101 check
    server sn4 sn4:5101 check
